.flags-section {
  margin-bottom: get-vw(200px);

  &__wrapper {
    overflow: hidden;
    border-radius: 36px;
    padding: get-vw(57px);
    background-image: url("../img/flags-section__bg.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #009345;
  }

  &__title {
    margin: 0;
    margin-bottom: get-vw(15px);
    max-width: get-vw(686px);
    font-weight: 600;
    font-style: normal;
    font-size: get-vw(36px);
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #fff;
  }

  &__text {
    margin-bottom: get-vw(68px);
    max-width: get-vw(425px);
    font-weight: 400;
    font-style: normal;
    font-size: get-vw(20px);
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #e4e4e4;
  }
}
