.footer {
  color: #fff;
  background-color: #1c1c1c;

  &__address {
    display: flex;
    align-items: center;

    &-map {
      margin-right: max(15px, get-vw(20px));
      width: max(75px, get-vw(98px));
      height: max(75px, get-vw(98px));
    }

    &-title {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: max(12px, get-vw(16px));
      line-height: 155%;
      letter-spacing: -0.5px;
    }

    &-text {
      margin-bottom: get-vw(5px);
      font-size: max(15px, get-vw(20px));
      line-height: 125%;
      letter-spacing: -0.5px;
    }

    &-link {
      font-size: 16px;
    }

    @include mobile {
      margin-bottom: 35px;
    }
  }

  .logo__container {
    margin-right: get-vw(85px);
    margin-bottom: auto;

    @include mobile {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mobile {
      align-items: flex-start;
    }
  }

  &__top-text {
    position: relative;
    margin-bottom: 10px;
    font-size: max(14px, get-vw(16px));

    &::before {
      content: "";
      display: inline-block;
      margin-right: 5px;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color: #009345;
      transform: translateY(-50%);
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &-flag {
      margin-right: 5px;
      width: 30px;
      height: 15px;
    }

    &-link {
      font-weight: 600;
      font-style: normal;
      font-size: max(22px, get-vw(34px));
      line-height: 110%;
      letter-spacing: -0.5px;
      color: #009345;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-right: 0;
      margin-left: auto;

      @include mobile {
        margin-right: auto;
        margin-left: 0;
      }
    }

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__socials-block {
    display: flex;

    svg {
      width: max(50px, get-vw(35px));
      height: max(50px, get-vw(35px));
    }
  }

  &__nav {
    margin-right: get-vw(50px);

    &-title {
      margin-bottom: max(10px, get-vw(16px));
      font-weight: 500;
      font-size: max(16px, get-vw(20px));
      line-height: 140%;
      letter-spacing: -0.5px;
    }

    &-item {
      margin-bottom: 8px;
      line-height: 140%;
      letter-spacing: -0.5px;
      color: #bdbdbd;
    }

    &-link {
      font-size: max(12px, get-vw(16px));
      color: inherit;
    }
  }

  &__container {
    display: flex;
    padding-top: get-vw(60px);
    padding-bottom: get-vw(75px);

    &--bottom {
      align-items: center;
      justify-content: space-between;

      @include mobile {
        padding-bottom: 72px;
      }
    }

    @include small-tablet {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include mobile {
      flex-direction: column;
      flex-wrap: nowrap;
      padding-top: 24px;
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-right: -8px;
    margin-bottom: 0;
    margin-left: -8px;

    &-link {
      display: block;
      margin: 0 get-vw(8px);
    }

    svg {
      width: max(30px, get-vw(35px));
      height: max(30px, get-vw(35px));
    }

    @include mobile {
      display: none;
    }
  }

  &__reserved {
    font-size: 16px;
    opacity: 0.8;

    @include mobile {
      order: 1;
    }
  }

  &__terms {
    font-size: 16px;
    text-decoration-line: underline;
    color: #fff;
    opacity: 0.8;

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__form {
    padding-top: get-vw(85px);
    padding-bottom: get-vw(60px);

    &-title {
      margin-bottom: 10px;
      font-weight: 600;
      font-style: normal;
      font-size: max(20px, get-vw(44px));
      line-height: 140%;
      letter-spacing: -0.5px;
      text-align: center;
      color: #fff;
    }

    &-subtitle {
      margin-bottom: max(26px, get-vw(45px));
      font-weight: 400;
      font-style: normal;
      font-size: max(14px, get-vw(24px));
      line-height: 140%;
      letter-spacing: -0.5px;
      text-align: center;
      color: #fff;
    }

    &-form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: get-vw(27px) get-vw(20px);

      @include mobile {
        grid-template-columns: none;
        gap: 13px;
      }
    }

    .custom-checkbox {
      @include custom-checkbox;
    }

    &-input {
      border-radius: 115px;
      padding-right: get-vw(45px);
      padding-left: get-vw(45px);
      box-shadow: 0 0 21px 0 rgb(255 255 255 / 40%) inset;
      font-weight: 500;
      font-style: normal;
      font-size: max(14px, get-vw(18px));
      line-height: 135%;
      letter-spacing: -0.5px;
      color: #000;
      background: #fff;

      &::placeholder {
        font-weight: 500;
        font-style: normal;
        font-size: max(14px, get-vw(18px));
        line-height: 135%;
        letter-spacing: -0.5px;
        color: #000;
      }

      @include mobile {
        padding: 23px;
      }
    }

    &-button {
      justify-content: center;

      @include mobile {
        padding: 23px;
      }
    }

    &-checkbox {
      grid-column: 3;

      span {
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        line-height: 135%;
        letter-spacing: -0.5px;
        color: #fff;

        a {
          color: #00b656;

          @include hover {
            color: #01a04b;
          }
        }
      }

      @include mobile {
        grid-column: initial;
      }
    }

    .custom-checkbox__content {
      padding-left: 36px;
    }

    .custom-checkbox__content::before {
      border-radius: 5px;
      width: 20px;
      height: 20px;
      background: linear-gradient(68deg, #009345 25.59%, #00c15b 103.07%), #31b939;
    }

    .custom-checkbox__content::after {
      border-radius: 5px;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Crect width='20' height='20' rx='5' fill='%2331B939'/%3E%3Crect width='20' height='20' rx='5' fill='url(%23paint0_linear_1_1055)'/%3E%3Cpath d='M13.8574 7.82946L13.1525 7.13953C13.0574 7.04651 12.9386 7 12.804 7C12.6693 7 12.5505 7.04651 12.4554 7.13953L9.06535 10.4574L7.55248 8.96899C7.45743 8.87597 7.33861 8.82946 7.20396 8.82946C7.06931 8.82946 6.9505 8.87597 6.85545 8.96899L6.1505 9.65891C6.04752 9.75194 6 9.86822 6 10C6 10.1318 6.04752 10.2481 6.14257 10.3411L8.01188 12.1705L8.71683 12.8605C8.81188 12.9535 8.93069 13 9.06535 13C9.2 13 9.31881 12.9535 9.41386 12.8605L10.1188 12.1705L13.8574 8.51163C13.9525 8.4186 14 8.30233 14 8.17054C14 8.03876 13.9525 7.92248 13.8574 7.82946Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_1055' x1='9.72973' y1='26.2766' x2='28.4337' y2='18.7076' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23009345'/%3E%3Cstop offset='1' stop-color='%2300C15B'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }
}
