.footer {
  color: #fff;
  background-color: #1c1c1c;

  &__address {
    display: flex;
    align-items: center;

    &-map {
      margin-right: get-vw(20px);
      width: get-vw(98px);
      height: get-vw(98px);
    }

    &-title {
      margin-bottom: get-vw(5px);
      font-weight: 600;
      font-size: get-vw(16px);
      line-height: 155%;
      letter-spacing: -0.5px;
    }

    &-text {
      margin-bottom: get-vw(5px);
      font-size: get-vw(20px);
      line-height: 125%;
      letter-spacing: -0.5px;
    }

    &-link {
      font-size: get-vw(16px);
    }
  }

  .logo__container {
    margin-right: get-vw(85px);
    margin-bottom: auto;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__top-text {
    position: relative;
    margin-bottom: get-vw(8px);
    font-size: get-vw(16px);

    &::before {
      content: "";
      display: inline-block;
      margin-right: get-vw(5px);
      border-radius: 50%;
      width: get-vw(6px);
      height: get-vw(6px);
      background-color: #009345;
      transform: translateY(-50%);
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    margin-bottom: get-vw(10px);

    &-flag {
      margin-right: get-vw(5px);
      width: get-vw(30px);
      height: get-vw(15px);
    }

    &-link {
      font-weight: 600;
      font-style: normal;
      font-size: get-vw(34px);
      line-height: 110%;
      letter-spacing: -0.5px;
      color: #009345;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__socials-block {
    display: flex;

    svg {
      width: get-vw(54px);
      height: get-vw(54px);
    }
  }

  &__nav {
    margin-right: get-vw(50px);

    &-title {
      margin-bottom: get-vw(16px);
      font-weight: 500;
      font-size: get-vw(20px);
      line-height: 140%;
      letter-spacing: -0.5px;
    }

    &-item {
      margin-bottom: get-vw(8px);
      line-height: 140%;
      letter-spacing: -0.5px;
      color: #bdbdbd;
    }

    &-link {
      font-size: get-vw(16px);
      color: inherit;
    }
  }

  &__container {
    display: flex;
    padding-top: get-vw(60px);
    padding-bottom: get-vw(75px);

    &--bottom {
      align-items: center;
      justify-content: space-between;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-right: -8px;
    margin-bottom: 0;
    margin-left: -8px;

    &-link {
      display: block;
      margin: 0 get-vw(8px);
    }

    svg {
      width: get-vw(35px);
      height: get-vw(35px);
    }
  }

  &__reserved {
    font-size: get-vw(16px);
    opacity: 0.8;
  }

  &__terms {
    font-size: get-vw(16px);
    text-decoration-line: underline;
    color: #fff;
    opacity: 0.8;
  }
}
