.map-section {
  position: relative;
  overflow: hidden;
  height: auto;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -50%;
    z-index: 1;
    width: 100%;
    height: get-vw(790px);
    background-image: url("../img/map-section__decor-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: get-vw(574px);
    background-image: url("../img/map-section__decor-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  &__map {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: get-vw(395px);
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    pointer-events: none;
  }

  &__list {
    margin-bottom: get-vw(76px);
  }

  &__right {
    display: grid;
    grid-template-columns: none;
    margin-right: 0;
    margin-bottom: get-vw(120px);
    margin-left: auto;
    padding-top: get-vw(35px);
    pointer-events: all;
    gap: get-vw(24px);
  }

  &__title {
    margin: 0;
    margin-bottom: get-vw(15px);
    max-width: get-vw(900px);
    font-weight: 400;
    font-style: normal;
    font-size: get-vw(44px);
    line-height: 140%; /* 61.6px */
    letter-spacing: -0.5px;
    color: #6b6b6b;
    pointer-events: all;

    span {
      font-weight: 500;
      color: #1c1c1c;
    }
  }

  &__text {
    margin-bottom: get-vw(55px);
    max-width: get-vw(715px);
    font-weight: 400;
    font-style: normal;
    font-size: get-vw(28px);
    line-height: 140%; /* 39.2px */
    letter-spacing: -0.5px;
    color: #6b6b6b;
    pointer-events: all;

    span {
      font-weight: 500;
    }
  }

  &__left {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: get-vw(600px);
      height: get-vw(1200px);
      background-image: url("../img/map-section__left-decor.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: max-content;
    pointer-events: all;

    &:not(:last-child) {
      margin-bottom: get-vw(55px);
    }

    &-image {
      margin-right: get-vw(37px);
      width: get-vw(100px);
      height: get-vw(125px);
      object-fit: contain;
    }

    &-text {
      max-width: get-vw(350px);
      font-weight: 400;
      font-style: normal;
      font-size: get-vw(28px);
      line-height: 140%;
      letter-spacing: -0.5px;
      color: #6b6b6b;

      span {
        font-weight: 500;
        color: #009345;
      }

      b {
        font-weight: 500;
        color: #1c1c1c;
      }
    }
  }
}
