.services {
  margin-bottom: get-vw(70px);
  padding-top: get-vw(44px);

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: get-vw(68px);
  }
}

.service {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: get-vw(36px);
  padding: get-vw(42px);
  color: #1c1c1c;
  background: #f4f8fb;

  &__title {
    margin-bottom: get-vw(20px);
    font-weight: 700;
    font-size: get-vw(36px);
    line-height: 140%;
    letter-spacing: -0.5px;
  }

  &__icon {
    position: absolute;
    right: get-vw(37px);
    top: get-vw(40px);
    width: get-vw(80px);
    height: get-vw(80px);
  }

  &__content-list {
    margin-bottom: get-vw(64px);
    padding-left: get-vw(22px);
  }

  &__content-item {
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-size: get-vw(22px);
    line-height: 140%;
    letter-spacing: -0.5px;

    &::before {
      content: "";
      position: absolute;
      left: get-vw(-14px);
      top: 50%;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background-color: currentcolor;
      transform: translateY(-50%);
    }

    &:not(:last-child) {
      margin-bottom: get-vw(12px);
    }
  }

  &__footer {
    margin-top: auto;
  }

  &__price {
    margin-bottom: get-vw(12px);
    font-weight: 600;
    font-style: normal;
    font-size: get-vw(20px);
    line-height: 140%;
    letter-spacing: -0.5px;
  }

  &__button {
    width: 100%;
  }

  &:hover {
    color: #f4f8fb;
    background: #1c1c1c;

    .service__button {
      color: #fff;
      background-color: #009345;
    }
  }
}
