.status-section {
  overflow: hidden;
  margin-top: get-vw(-100px);
  background-image: url("../img/status-section__bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    position: relative;
    padding-top: get-vw(190px);
    padding-bottom: get-vw(180px);
  }

  &__title {
    margin: 0;
    margin-bottom: get-vw(60px);
    max-width: get-vw(900px);
    font-weight: 400;
    font-style: normal;
    font-size: get-vw(40px);
    line-height: 140%; /* 56px */
    letter-spacing: -0.5px;
    color: #1c1c1c;

    span {
      font-weight: 500;
      color: #009345;
    }
  }

  &__text {
    margin-bottom: get-vw(75px);
    max-width: get-vw(835px);
    font-weight: 400;
    font-style: normal;
    font-size: get-vw(24px);
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #6b6b6b;

    span {
      font-weight: 500;
      color: #1c1c1c;
    }
  }

  &__doc-image {
    position: absolute;
    right: get-vw(-18px);
    bottom: get-vw(-80px);
    width: get-vw(868px);
    height: get-vw(839px);
  }
}
